.toppings{
    &__title{
        @include title-20;
        color: $gray1;
        padding-top: 43px;
        padding-bottom: 32px;
    }

    &__menu{
        @include title-10--U;
        padding: 13px;
        color: $gray1;
        text-align: center;

        &--active{
            color: $red1;
            border-bottom: 1px solid $red1;
        }
    }
}